.sectionFeature {
    background-image: linear-gradient(
            to right bottom,
            rgba(112, 224, 0, 0.9),
            rgba(83, 169, 44, 0.9)
        ),
        url("../../../public/images/leaves-patter.jpg");
    /* background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ); */
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 6rem;
}
