*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-black-light: #222;
    --color-dark-grey: #888;
    --color-dark-grey-2: #777;
    --color-grey: #ccc;
    --color-primary-light: #ccff33;
    --border-radius: 0.2rem;

    /* rgba(112, 224, 0, 1) */
    --color-primary: #70e000;
    /* --color-primary: #7ed56f; */
    /* rgba(83, 169, 44, 1) */
    --color-primary-dark: #53a92c;
    /* --color-primary-dark: #28b485; */
    --color-gradient: linear-gradient(
        to right bottom,
        var(--color-primary),
        var(--color-primary-dark)
    );

    --font-body: "Roboto", sans-serif;
    --font-title: "Montserrat", sans-serif;
}

body {
    width: 100%;
    font-family: var(--font-body);
}

/* TYPHOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

.heading-secondary {
    /* display: inline-block; */
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    word-spacing: 1rem;
    text-align: center;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-dark-grey-2);
    text-transform: uppercase;
    word-spacing: 0.3rem;
    line-height: 1.4;
}

.heading-gradient {
    background-image: var(--color-gradient);
    color: transparent;
    /* color: #555; */
    /* color: var(--color-primary); */
    background-clip: text;
}

.paragraph {
    color: var(--color-dark-grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
}

/* SECTIONS */

.section {
    width: 100%;
    padding: 9rem 0;
}

.section-container {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
}

.footer {
    width: 100%;
    padding: 8rem 0;
    background-color: var(--color-black-light);
}

/* UTILITIES */

.margin-bottom-lg {
    margin-bottom: 7rem !important;
}

.margin-bottom-sm {
    margin-bottom: 2rem !important;
}
